{% extends "base.html" %}
{% block title %}ML App{% endblock %}
{% block content %}
<div class="flex gap-3 px-3 py-3">
    <a href="/reg" class="hover:bg-blue-100">
    <div class="max-w-sm border border-gray-200 rounded shadow-lg">
    <img class="w-full rounded-t" src="/static/reg.png" alt="Regression" style="height: 250px; object-fit: cover">
      <h3 class="font-extrabold text-2xl mb-2 mt-3 px-3 pb-5 text-blue-700">Regression Example</h3>
      <p class="text-grey-200 px-3 pb-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p></div></a>
      <a href="/clf" class="hover:bg-blue-100">
      <div class="max-w-sm border border-gray-200 rounded shadow-lg">
        <img class="w-full rounded-t" src="/static/cl.jpeg" alt="Classification" style="height: 250px; object-fit: cover">
          <h3 class="font-extrabold text-2xl mb-2 mt-3 px-3 pb-5 text-blue-700">Classification Example</h3>
          <p class="text-grey-200 px-3 pb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p></div></a>
    <a href="/fc" class="hover:bg-blue-100">
    <div class="max-w-sm border border-gray-200 rounded shadow-lg">
        <img class="w-full rounded-t" src="/static/fc.jpeg" alt="Forecasting" style="height: 250px; object-fit: cover">
        <h3 class="font-extrabold text-2xl mb-2 mt-3 px-3 pb-5 text-blue-700">Forecasting Example</h3>
        <p class="text-grey-200 px-3 pb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p></div></a>
    <a href="/clt" class="hover:bg-blue-100">
        <div class="max-w-sm border border-gray-200 rounded shadow-lg">
            <img class="w-full rounded-t" src="/static/img.jpeg" alt="Clusturing" style="height: 250px; object-fit: cover">
            <h3 class="font-extrabold text-2xl mb-2 mt-3 px-3 pb-5 text-blue-700">Clusturing Example</h3>
            <p class="text-grey-200 px-3 pb-5">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p></div></a>
    </div>
{% endblock %}