{% extends "base.html" %}
{% block title %}Regression Example{% endblock %}
{% block content %}
<div class="block gap-3 px-3 py-3">
    <div class="container pb-8 pt-4">This is a regression model trained using <a target="_blank" class="underline text-blue-600 hover:bg-blue-100" href="https://github.com/MicrosoftLearning/mslearn-ai-fundamentals/tree/main/data/ml">MicrosoftLearning's Bike share data</a>. 
      It predicts the number of bike rentals for the day based on some external factors. It is trained using XGBoost one of the popular machine learning model.
      You can play around with these external factors and check the prediction based on the changed value.</div>
    <form class="flex flex-wrap gap-1" hx-post="/reg" hx-target="#result">
    <div class="flex py-1">
    <label class="text pl-2 pr-1">Day</label>
    <input name="day" type="number" min=1 max=31 value="20" class="p-1 text rounded-sm ring ring-gray-300 focus:ring-blue-500 focus:outline-none w-full" required /></div>
    <div class="flex py-1">
      <label class="text pl-2 pr-1">Month</label>
      <input name="month" type="number" min=1 max=12 value="5" class="p-1 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>  
    <div class="flex py-1">
      <label class="text pl-2 pr-1">Year</label>
      <select name="year" class="p-1 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required >
      <option value="2011">2011</option>
      <option value="2012">2012</option>
    </select></div>
    <div class="flex py-1">
      <label class="text pl-2 pr-1">Season</label>
      <input name="season" type="number" min=1 max=4 value="1" class="p-1 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
    <div class="flex py-1">
      <label class="text pl-2 pr-1">Holiday</label>
      <input name="holiday" type="number" min=0 max=1 value="0" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
    <div class="flex py-1">
      <label class="text pl-2 pr-1">Weekday</label>
      <input name="weekday" type="number" min=0 max=6 value="1" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
      <div class="flex py-1">
      <label class="text pl-2 pr-1">Workingday</label>
      <input name="workingday" type="number" min=0 max=1 value="1" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
      <div class="flex py-1">
      <label class="text pl-2 pr-1">Weathersit</label>
      <input name="weathersit" type="number" min=0 max=1 value="1" step="1" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
      <div class="flex py-1">
      <label class="text pl-2 pr-1">Temp</label>
      <input name="temp" type="number" min=0 max=1 value="0.166" precision="6" step="0.001" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>          
      <div class="flex py-1">
      <label class="text pl-2 pr-1">ATemp</label>
      <input name="atemp" type="number" min=0 max=1 value="0.166" precision="6" step="0.001" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
      <div class="flex py-1">
      <label class="text pl-2 pr-1">Humidity</label>
      <input name="hum" type="number" min=0 max=1 value="0.166" precision="6" step="0.001" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
      <div class="flex py-1">
      <label class="text pl-2 pr-1">Windspeed</label>
      <input name="windspeed" type="number" min=0 max=1 value="0.166" precision="6" step="0.001" class="p-1 text-gray-900 text rounded-sm ring ring-gray-300 focus:ring-blue-500 w-full focus:outline-none" required /></div>
      <div class="flex pl-8">
      <button type="submit" href="" hx-on:click="htmx.removeClass(htmx.find('#spin'), 'invisible');" class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-sm text w-full px-3 text-center focus:outline-none">Submit</button></div>
    </form>
    </div>
    <div class="grid place-items-center p-5" id="result">
    <div role="status" id="spin" class="w-8 h-8 inline-block rounded-full border-4 border-solid border-e-transparent animate-spin fill-blue-600 border-blue-600 motion-reduce:animate-[spin_1.5s_linear_infinite] invisible">
      <span class="text-transparent">...</span>
    </div>
    </div>
{% endblock %}